.hero{
    display: flex;
    flex-direction: row;
}

.hero__content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__content h1{
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 107px;
}

.hero__content-title{
    color: #ffffff;
}

.hero__content-subtitle{
    color: #00FFF0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
}

.hero__content p {
    text-align: left;
    color: #ffffff;
}

.hero__image-container{
    display: flex;
    flex: 1;
}

.hero__image {
    height: 625px;
}

@media screen and (max-width: 1050px){

    .hero{
        flex-direction: column;
        gap: 2rem;
    }

    .hero__image-container{
        justify-content: center;
    }
}

@media screen and (max-width: 550px){

    .hero {
        flex-direction: column;
        gap: 2rem;
    }

    .section__padding{
        padding: 1rem 2rem;
    }

    .hero__image-container {
        justify-content: center;
    }

    .hero__image{
        width: 100%;
        height: 100%;
    }

    .hero__content h1 {
        text-align: center;
        font-weight: 400;
        font-size: 96px;
        line-height: 107px;
    }

    .hero__content-subtitle {
        padding-bottom: 1rem;
    }

    .hero__content p {
        text-align: center;
        color: #ffffff;
    }
}
