* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: black;
    /*margin: 0rem 5rem 0rem 5rem;*/
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: var(--color-bg);
}

.section__padding {
    padding: 3rem 6rem;
}